.dropbtn {
    background-color: #d5eff4;
    color: #006699;
    padding: 0.3rem 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 90%;
}

.dropbtn:hover {
    background-color: #f3e3c0;
    color: #cc0000;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f3e3c0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 90%;
}

.dropdown-content a {
    color: #cc0000;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d5eff4;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #f3e3c0;
    color: #cc0000;
}