.navbtn {
    background-color: #d5eff4;
    color: #006699;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.navbtn:hover {
    background-color: #f3e3c0;
    color: #cc0000;
}

a:hover {
    text-decoration: none;
}

.navbutton {
    position: relative;
    display: inline-block;
}