.nav-link {
	display: block;
	padding: 0.3rem 0.3rem;
}

.navbar-custom {
	background-color: #d5eff4;
}

a.a-custom {
	color: #cc0000;
	background-color: #f3e3c0;
}

a.a-custom:hover {
	color: #006699;
	background: #d5eff4;
}

a.a-custom2 {
	color: #006699;
	background: #d5eff4;
}

a.a-custom2:hover {
	color: #cc0000;
	background-color: #f3e3c0;
}

a.a-custom2:focus {
	color: #cc0000;
	background-color: #f3e3c0;
}