.navdropbtn {
    background-color: #d5eff4;
    color: #006699;
    padding: 0.3rem 0.5rem;
    margin: 0.3rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.navdropbtn:hover {
    background-color: #f3e3c0;
    color: #cc0000;
}

.navdropdown {
    position: relative;
    display: inline-block;
}

.navdropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: #f3e3c0;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.navdropdown-content a {
    color: #cc0000;
    padding: 1rem 0.5rem;
    text-decoration: none;
    display: block;
}

.navdropdown-content a:hover {
    background-color: #d5eff4;
    color: #006699;
}

.navdropdown:hover .navdropdown-content {
    display: block;
}

.navdropdown:hover .navdropbtn {
    background-color: #f3e3c0;
    color: #cc0000;
}