.form-searchbar {
    padding: 0.25rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #495057;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px #999999 solid;
    border-radius: 5px;
    text-align: center;
}

.input-searchbar {
    display: inline;
    border: 1px #999999 solid;
    border-radius: 5px;
    padding: 0.5rem;
    margin: .25rem;
    color: #333333;
    background-color: #ffffff;
    vertical-align: middle;
    max-width: 200px;
}

.input-searchbar:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 123, 0.25);
}

.search-button {
    display: inline;
    color: #333333;
    background-color: #d9d9d9;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #999999;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.search-button:hover {
    cursor: pointer;
    color: #212529;
    background-color: #eeeeee;
    text-decoration: none;
}

.search-button:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 123, 0.25);
}

@media (max-width: 575.98px) {
    .search-button,
    .input-searchbar {
        padding: 0.25rem;
        margin: 0.15rem;
    }
}
